<table id="dataset-table" class="table table-bordered table-hover">
  <thead>
    <tr>
            <th>Id</th>  
            <th>Name</th>  
            <th>Type</th>  
            <th>Path</th>
            <th>Provider</th>
            <th>CreateTime</th>  
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < datasets.length; i ++) { %>
      <tr>
            <td><a href="dataset.html?dataSet=<%= datasets[i].id %>"><%= datasets[i].id %></a></td>  
            <td><%= datasets[i].name %></td>
            <td><%= datasets[i].type %></td>
            <td><%= datasets[i].place %></td>
            <td><%= datasets[i].provider %></td>
            <td><%= datasets[i].createtime %></td>
      </tr>
    <% } %>
  </tbody>
</table>
